<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-4">

<h2>Add Product</h2>

<form method="post" action="/products/save">

    <input class="form-control mb-2" name="name" placeholder="Name">

    <input class="form-control mb-2" name="price" placeholder="Price">

    <select class="form-select mb-2" name="category.id">
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>

    <button class="btn btn-success">Save</button>
</form>

</body>
</html>